
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SentinelMonitor</h1>
    <p>View and manage your services with ease by visiting the <a href="/Auth">My Account</a> page found in the dashboard.</p>
    <hr />
</div>

<!-- Main Content Area -->
<section class="section-image mt-sm-3" id="ServicesDescription">

    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                    <h2>Manage all of your SentinelCloud services in one place with SentinelMonitor!</h2>
                    <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <span><img src="~/Images/CloudStorage.png" alt="Cloud Storage" width="80" height="85"></span>
                <h2>Cloud computing made easy!</h2>
                <p>
                    SentinelMonitor helps you manage and deploy SC2 VMs with ease allowing you to get your applications hosted faster and easier. 
                    With affordable pricing and scalable hardware configurations, SentinelCloud makes cloud computing convinient and easy!
                </p>
            </div>

            <div class="col-md-4 text-center">
                <span><img src="~/Images/BarChart.png" alt="Bar Chart" width="85" height="85"></span>
                <h2>View statistics on deployments with ease!</h2>
                <p>
                    SentinelMonitor makes it easy to view real time data on deployed SC2 instances and related SentinelCloud resources. 
                    To start monitoring a SentinelCloud resource, deploy a new SC2 instance in the user dashboard and select the info button.
                </p>
            </div>


            <div class="col-md-4 text-center">
                <span><img src="~/Images/CloudSynchronization.png" alt="Cloud Sync" width="80" height="80"></span>

                <h2>Keep your data secure with SentinelProtect!</h2>
                <p>
                    SentinelProtect is an addon service to ensure your data stays backed up and secure at all times and allows for easy restoration of old backups.
                    Every SentinelCloud SC2 instance is elligible for secure drive backups and restore services provided by the SentinelProtect utility.
                </p>
            </div>
        </div> <!-- / row -->
    </div><!-- /container -->
</section>

<section class="mt-sm-3" id="SupportDescription">
    <div class="container align-content-center text-center">
        <div class="col-md-6 mx-auto">
            <span><img src="~/Images/Complaint.png" alt="Complaint" width="80" height="80"></span>

            <h2>Experiencing issues?</h2>
            <p>
                Running into any issues or unexpected behaviour with SentinelMonitor or any SentinelCloud service?
                Contact support by joining our <a href="https://discord.gg/TQ8KnXwe8M">Discord</a> or submitting a ticket via the <a href="/Auth">SentinelMonitor dashboard</a>.
            </p>
        </div>
    </div>
</section>
